.header {
    height:15%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #1B1B1B;
    color: white;
}
 
#navegacion {
    width:25%;
}

#navegacion li{
    margin-left: 20px;
    list-style: none;
    
}

#menu {
    display:flex;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
}

.App-logo {
    margin-left: 2%;
    margin: 10px;;
    width: 100px;
    height: 100px;
}

.badge{
margin-right: 50px;
}

.btnlogg {
    color: white;
}
.btnlogg:hover {
    color: red;
}